
header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(130, 236, 255, 0.5); 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(130, 210, 224, 0.2); 
}
.upper{
    display: flex;
    justify-content: space-around;
}
.upper-section{
    position: relative;
    color: #ade2f0;
    font-size: medium;
    text-decoration: none;
}
.upper-section::after{
    content: "";
    position: absolute;
    background-color: #ade2f0;
    height: 3px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    transition: 0.3s;
}
.upper-section:hover::after{
    transform: translateX(0);
    left: 0;
    width: 100%;
}
.upper-section:hover{
    color: #d7f8ff;
}

.jellyfish-position{
    position: relative;
    left: 10vh;
}
.jellyfish-position img{
    position: absolute;
    width: 150px;
    height: auto;
    transition: transform 0.5s ease-in-out ;
}
.jellyfish-position .tooltip, .main-position .tooltip{
    position: absolute;
    background-color: rgb(86, 114, 119,0.8);
    color: #ade2f0;
    padding: 6px 8px;
    border-radius: 10px;
    font-size: 12px;
    top: 35px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.main-position .tooltip{
    top: -25px;
}
.jellyfish-position:hover .tooltip, .main-position:hover .tooltip{
    opacity: 1;
}

.jellyfish{
    margin-top: 50px;
}
.jellyfishone{
    opacity: 1;
}
.jellyfishtwo{
    opacity: 0;
}

.jellyfish-position:hover img.jellyfishone{
    opacity: 0;
    animation: up 0.5s ease-in-out forwards;
}
.jellyfish-position:hover img.jellyfishtwo{
    opacity: 1;
    animation: up 0.5s ease-in-out forwards;
    cursor: pointer;
}

.main-position{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 60px;
    top: 60px;
}
.main-position img{
    position: absolute;
    height: auto;
    transition: transform 0.5s ease-in-out ;
}
.main01{
    opacity: 1;
    width: 150px;
}
.main02{
    opacity: 0;
    width: 157px;
}
.main-position:hover img.main01{
    opacity: 0;
    animation: up 0.5s ease-in-out forwards;
}
.main-position:hover img.main02{
    opacity: 1;
    animation: up 0.5s ease-in-out forwards;
    cursor: pointer;
}







@keyframes up{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

